.slider{
    position: relative;
    background-color: rgb(0, 0, 0);
    min-height: 300px;
}


.slider-btn{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgba(238, 214, 214, 0.071);
    border-radius: 6px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev{
    top:40%;
}
.next{
    top:40%;
    right:0;
}

img{
    /* width: 300px; */
    position: relative;
    min-height: 300px;
    object-fit: cover;
}
